<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FlipKart.com Test" preserve-order="true">
<listeners>
	<listener class-name="com.callhub.flipkart.listeners.MyTrnasformer"></listener>
	<listener class-name="com.callhub.flipkart.report.ExtentReporterNG"></listener>
	<listener class-name="com.callhub.flipkart.listeners.Listener"></listener>
</listeners>
  <test thread-count="5" name="LoginPageTest">
    <classes>
      <class name="com.callhub.flipkart.tests.LoginPageTest"/>
    </classes>
  </test>
   <test thread-count="5" name="HomePageTest">
    <classes>
      <class name="com.callhub.flipkart.tests.HomepageTest"/>
    </classes>
  </test> 
   <test thread-count="5" name="SearchPageTest">
    <classes>
      <class name="com.callhub.flipkart.tests.SearchPageTest"/>
    </classes>
  </test>
  <test thread-count="5" name="ProductpageTest">
    <classes>
      <class name="com.callhub.flipkart.tests.ProductpageTest"/>
    </classes>
  </test>
  <test thread-count="5" name="CartpageTest">
    <classes>
      <class name="com.callhub.flipkart.tests.CartPageTest"/>
    </classes>
  </test>
  
  <!-- Test -->
</suite> <!-- Suite -->
