<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Flipkart App test">
  <test name="check" preserve-order="true">
		<classes>
			<class name="com.callhub.flipkart.tests.TestSetup"></class>
			
		</classes>
	</test>
   <!-- Test -->
</suite> <!-- Suite -->
